.portfolio-sec {
    background: #f4f4f4;

    .container {

        .portfolio-wrapper {
            padding: 100px 0 140px;

            @media (max-width: 1200px) {
                padding: 100px 0 120px;
            }
            @media (max-width: 992px) {
                padding: 80px 0 80px;
            }
            @media (max-width: 767.5px) {
                padding: 60px 0 60px;
            }

            .top-content {
                text-align: center;
                margin: 0 auto 50px;
                padding: 0 10px;

                span.meta {
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    text-align: center;
                    color: #4EB3E8;
                    margin-bottom: 7px;
                }
                h2.heading {
                    font-size: 49px;
                    font-weight: bold;
                    line-height: 58px;
                    font-family: 'Baloo Paaji', cursive;
                    font-style: normal;
                    text-align: center;
                    color: #000;
                    margin-bottom: 20px;

                    @media (max-width: 992px) {
                        font-size: 40px;
                    }
                    @media (max-width: 767.5px) {
                        font-size: 35px;
                        margin-bottom: 30px;

                        br {
                            display: none;
                        }
                    }
                    @media (max-width: 575px) {
                        font-size: 30px;
                        margin-bottom: 15px;
                        line-height: 35px;
                    }
                }
            }
            .row {
                row-gap: 20px;

                @media (max-width: 767.5px) {
                    margin: 0;
                    gap: 20px;
                }
                .col-md-4 {
                    position: relative;
                    @media (max-width: 992px) {
                        width: 50%;
                    }
                    @media (max-width: 767.5px) {
                        width: 48%;
                        padding: 0;                
                    }
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                    .job-box {
                        width: 100%;
                        height: 430px;
                        border-radius: 22px;
                        background: #EBE0D3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 60px 40px;
                        gap: 16px;
                        cursor: pointer;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;

                        @media (max-width: 992px) {
                            height: 350px;
                            padding: 35px;
                        }

                        @media (max-width: 767.5px) {
                            width: 100%;
                            padding: 30px;
                            height: 300px;
                        }

                        .box-content {
                            position: absolute;
                            opacity: 0;
                            visibility: hidden;
                            transition: all, 0.3s;
                            top: 45%;
                            width: 90%;
                        }

                        &:hover {

                            .box-content {
                                bottom: 7px;
                                opacity: 1;
                                visibility: visible;
                                top: 45%;
                                transition: all, 0.3s;
                            }
                        }

                        h4.heading {
                            font-size: 22px;
                            font-weight: bold;
                            line-height: 29px;
                            font-style: normal;
                            text-align: center;
                            color: #fff;
                            font-family: "Baloo Paaji", cursive;
                        }
                        p.description {
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 26px;
                            font-style: normal;
                            text-align: center;
                            color: #fff;
                        }
                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            margin: 20px 0;
                            list-style-type: none;
                            gap: 10px;

                            li {
                                padding: 8px;

                                a {

                                    img {
                                        height: 30px;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}